<!DOCTYPE html>
<html>
<head>
<style>
	* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #e7b0f6ca;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}

.main {
    margin: 70px auto;
    padding: 35px 50px 50px;
    max-width: 500px;
    background: #DA70D6;
    color: #FFF;
    box-shadow: -20px -20px 0px 0px rgb(100 100 100 / 10%);
}

.main h2 {
    
    font-weight: normal;
    letter-spacing: 0.05em;
    border-bottom: 1px solid #fff;
    
}

.main ul {
    margin-top: 30px;
    list-style: none;
}

.main h2 span {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
    margin-left: 3px;
    margin-top: 4px;
    
}

form {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

form label {
 
    min-width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
}

form input,
form button {
    font-family: 'Quicksand', sans-serif;
    height: 50px;
}

form input {
    flex-grow: 1;
    border: none;
    background: #f7f1f1;
    padding: 0 24px;
    font-size: initial;
}

form button {
    background: #FF6666;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 24px;
    border: none;
    color: white;
    border: 1px solid rgba(255,255,255,.3);
    margin-left: 5px;
    cursor: pointer;
}

button {
    padding: 10px 10px;

}

#list li {
    display: flex;
    margin: 0 -52px 4px;
    padding: 20px 52px;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.1);
}

#list li.done {
    text-decoration: line-through;
}

.togglebutton-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.togglebutton-label {
    padding-right: 15px;
}

.todo-sort {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.todo-sort input { 
    opacity: 0;
    width: 0;
    height: 0;
}
#btn{
    margin-top:-55px;
}
.intuative-checkbox input[type="checkbox"],
.intuative-checkbox input[type="checkbox"]:checked + label {
	opacity: .8;
	text-decoration: line-through;
}


.fcc-btn {
  background-color: #FF6666;
  color: white;
  font-size: 10px;
  padding: 7px 15px;
  text-decoration: none;
  border: 1px solid rgba(255,255,255,.3);
  
}
li{
    margin-botton:10px;
}
</style>
</head>
<body>


<div class="main">
 <h2> D's ToDo List</h2>
			
			<br/>
            <span>Today I need to :</span>
    <ul class="intuative-checkbox" style="list-style-type:none;">
        <li>
       
			<input type="checkbox" id="cbx1" name="cbxlistfoobar" tabindex="0">  
			<label for="cbx1"><%=hd((tsk))%></label> 
            <a href="delete?delete_data=<%=hd((ids))%>"class="fcc-btn"   >Delete Item</a> 
       
		</li>
        <li>
			<input type="checkbox" id="cbx1" name="cbxlistfoobar" tabindex="0">
			<label for="cbx1"><%=hd(tl(tsk))%></label> 
            <a href="delete?delete_data=<%=hd(tl(ids))%>" class="fcc-btn">Delete Item</a>
		</li>
        <li>
			<input type="checkbox" id="cbx1" name="cbxlistfoobar" tabindex="0">
			<label for="cbx1"><%=hd(tl(tl(tsk)))%></label>
            <a href="delete?delete_data=<%=hd(tl(tl(ids)))%>" class="fcc-btn">Delete Item</a>
		</li>
        <li>
			<input type="checkbox" id="cbx1" name="cbxlistfoobar" tabindex="0">
			<label for="cbx1"><%=hd(tl(tl(tl(tsk))))%></label>
            <a href="delete?delete_data=<%=hd(tl(tl(tl(ids))))%>" class="fcc-btn">Delete Item</a>
		</li>
       
            
        </ul>  
    
          
        <form name="form" action="add" method="get">
            <label for="inputtask">Add to the todo list</label>
            <input id="inputtask" name="data" type="text">
            <button id="addbutton" type="submit">Add Item</button>
        </form>


    </div>

    
<center><p>@Divya Mogaveera</p></center>

 
</body>
</html>



